* {
  margin: 0;
  padding: 0;
}

p {
  background:rgba(55, 55, 55, 0.0);
  color: darkgray;
  position: absolute;
  background: transparent;
  color: #0000;
  top: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 500;
  font-size: 50px;
}